{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if links %}
        <div class="list-group">
            {% for link in links %}
                <a href="{{ link.url }}" class="list-group-item">{{ link.title }}
                <span class="small">Submitted by {{link.author.username}}</span>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning">
            No links found.
        </div>
    {% endif %}

    <h3>Add a link</h3>
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        Soon!
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add links.
    {% endif %}

{% endblock %}
